@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@font-face {
    font-family: "Tw Cen MT";
    src: url("/fonts/Tw Cen MT Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-sans: "Tw Cen MT", "Inter", sans-serif;
    --font-display: "Tw Cen MT", sans-serif;
    --color-black: #121212;
    /* Accent  */
    --color-accent-25: #faf7f5;
    --color-accent-50: #f5ede8;
    --color-accent-100: #ead5cc;
    --color-accent-200: #d9b3a3;
    --color-accent-300: #c48a73;
    --color-accent-400: #b86145;
    --color-accent-500: #b86145;
    --color-accent-600: #9d5239;
    --color-accent-700: #82432e;
    --color-accent-800: #673424;
    --color-accent-900: #4c251a;
    --color-accent-950: #331910;
    /* Base */
    --color-base-25: #F6F4F0;
    --color-base-50: #D6D2C8;
    --color-base-100: #ebe8e3;
    --color-base-200: #d6d1c7;
    --color-base-300: #b8afa0;
    --color-base-400: #8a7d6a;
    --color-base-500: #3e342a;
    --color-base-600: #2f2820;
    --color-base-700: #241f19;
    --color-base-800: #1a1612;
    --color-base-900: #120f0c;
    --color-base-950: #0a0806;
}

/* CSS */
:root,
html {
    font-size: 18px;
    /* Increased from default 16px */
}

body {
    font-family: "Tw Cen MT", "Inter", sans-serif;
    font-size: 1rem;
    /* Uses the 18px base */
}


/* Adds pointer cursor to buttons */
button:not(:disabled),
[role="button"]:not(:disabled) {
    cursor: pointer;
}