@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@font-face {
    font-family: "Tw Cen MT";
    src: url("/fonts/Tw Cen MT Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-sans: "Tw Cen MT", "Inter", sans-serif;
    --font-display: "Tw Cen MT", sans-serif;
    --color-black: #121212;
    /* Accent  */
    --color-accent-500: #d16a3c;
    --color-accent-25: color-mix(in srgb, white 95%, var(--color-accent-500));
    --color-accent-50: color-mix(in srgb, white 90%, var(--color-accent-500));
    --color-accent-100: color-mix(in srgb, white 80%, var(--color-accent-500));
    --color-accent-200: color-mix(in srgb, white 65%, var(--color-accent-500));
    --color-accent-300: color-mix(in srgb, white 45%, var(--color-accent-500));
    --color-accent-400: color-mix(in srgb, white 15%, var(--color-accent-500));
    --color-accent-600: color-mix(in srgb, black 15%, var(--color-accent-500));
    --color-accent-700: color-mix(in srgb, black 30%, var(--color-accent-500));
    --color-accent-800: color-mix(in srgb, black 45%, var(--color-accent-500));
    --color-accent-900: color-mix(in srgb, black 60%, var(--color-accent-500));
    --color-accent-950: color-mix(in srgb, black 75%, var(--color-accent-500));
    /* Base */
    --color-base-25: #F6F4F0;
    --color-base-50: #D6D2C8;
    --color-base-100: #ebe8e3;
    --color-base-200: #d6d1c7;
    --color-base-300: #b8afa0;
    --color-base-400: #8a7d6a;
    --color-base-500: #3e342a;
    --color-base-600: #2f2820;
    --color-base-700: #241f19;
    --color-base-800: #54473c;
    --color-base-900: #3e342a;
    --color-base-950: #0a0806;
}

/* CSS */
:root,
html {
    font-size: 18px;
    /* Increased from default 16px */
}

body {
    font-family: "Tw Cen MT", "Inter", sans-serif;
    font-size: 1rem;
    /* Uses the 18px base */
}

main section[id],
main h2[id],
main h3[id] {
    scroll-margin-top: 110px;
}


/* Adds pointer cursor to buttons */
button:not(:disabled),
[role="button"]:not(:disabled) {
    cursor: pointer;
}
