---
import BaseHead from "../components/BaseHead.astro";
import Navigation from "../components/global/Navigation.astro";
import Footer from "../components/global/Footer.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props as Props;
---

<html
  lang="nl"
  class="scroll-smooth selection:bg-terracotta selection:text-white no-touchevents hydrated"
>
  <head>
    <BaseHead {title} {description} />
  </head>
  <body class="bg-stone flex flex-col min-h-svh text-ebony/85 font-sans">
    {import.meta.env.PROD && (
      <!-- Google Tag Manager (noscript) -->
      <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WXRV8S6Z"
        height="0" width="0" style="display:none;visibility:hidden"></iframe>
      </noscript>
      <!-- End Google Tag Manager (noscript) -->
    )}
    <Navigation />
    <main class="grow"><slot /></main>
    <Footer />
  </body>
</html>
